<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up/Login</title>
  </head>
  <body>
    <div>
      <a href="https://TenseCarelessProgrammers.joey90234.repl.co/user/signup">Sign Up</a>
    </div>
    <div>
          <a href="https://TenseCarelessProgrammers.joey90234.repl.co/user/login">Login</a>
    </div>
    <div>
      <a href="https://TenseCarelessProgrammers.joey90234.repl.co/devView">Dev View</a>
    </div>
    
  </body>
</html>