<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
  </head>
  <body>
    <h1>Login</h1>
    <form action='/user/login' method='POST'>
      <label>Username: </label><br>
      <input type='text' id='username' name='username'><br>
      <label>Password: </label><br>
      <input type='password' id='password' name='password'><br>
      <input type='submit' value='Log In'><br>
    </form>
    <%= locals.text %>

    <div>
      <a href="https://TenseCarelessProgrammers.joey90234.repl.co">Back to Home</a>
    </div>
  </body>
</html>