<!DOCTYPE html>
<html>
  <head>
    <title><%= locals.username %>'s Page</title>
  </head>
  <body>
    <div>
      <h1>Welcome, <%= locals.username %>!</h1>
    </div>

    <div>
      <a href="https://TenseCarelessProgrammers.joey90234.repl.co/user/createDoc">Create a PermaDoc</a>
      <a href="https://TenseCarelessProgrammers.joey90234.repl.co/user/addFunds">Add Funds to Wallet</a>
    </div>
  </body>
</html>